@import "tailwindcss";

@theme {

  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;
  --font-geist: var(--font-geist-sans);
  --color-bg-main: #0b0e11;     
  --color-bg-card: #161a1e;       
  --color-bg-hover: #21262c;      
  
  --color-crypto-up: #0ecb81;    
  --color-crypto-down: #f6465d; 
  
  --color-text-primary: #eaecef;  
  --color-text-secondary: #848e9c;
  
  --color-border-primary: #2b3139;
}


@layer base {
  html, body {
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--color-bg-main);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color-border-primary);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-secondary);
  }
}

@utility flash-green {
  animation: flashGreenAnimation 0.5s ease-out;
}

@utility flash-red {
  animation: flashRedAnimation 0.5s ease-out;
}

@keyframes flashGreenAnimation {
  0% { background-color: rgba(14, 203, 129, 0.2); }
  100% { background-color: transparent; }
}

@keyframes flashRedAnimation {
  0% { background-color: rgba(246, 70, 93, 0.2); }
  100% { background-color: transparent; }
}